/*color*/
body {
  color: #fb5;
  background-color: #334;
}
a:link {
  color: #445;
  background-color: #eb6;
}
a:visited {
  color: #345;
  background-color: #eb6;
}
a:hover {
  color: #667;
  background-color: $texas-rose;
}
a:active {
  color: $storm-grey;
  background-color: #ec8;
}

header {
  color: #ec8;
  background-color: $tuna;
  border-color: #667;
}
nav {
  color: #455;
  background-color: #789;
  border-color: #667;
}
#content {
  color: #223;
  background-color: #edc;
  border-color: #667;
}
nav ul {
  border-color: #99a;
}
nav a:link,nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
nav a:hover {
  color: #445;
  background-color: #eb6;
}
nav a:active {
  color: #667;
  background-color: #ec8;
}

nav a.current-menu-item:link,
nav a.current-menu-item:visited,
nav a.current-menu-item:hover,
nav a.current-menu-item:active {
  color: #eef;
  background-color: #799;
}

nav li.current-menu-item a {
  color: #eef;
  background-color: #799;
}

#content img {
  border-color: #ba9;
  outline-color: #dcb;
}
#imagegallery a {
  background-color: transparent;
}
th {
  color: #edc;
  background-color: #455;
}
tr td {
  color: #223;
  background-color: #eb6;
}
tr.odd td {
  color: #223;
  background-color: $flax;
}
tr.highlight td {
  color: #223;
  background-color: #cba;
}

a.post {background-color: lightblue}
article.post {
    background-color: $flax;
    margin: 20px 0 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
  }

  //BLOG
  .post h2 {
    background: #F3904F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
  }

  .post a:link {
    color: black;
    background: none;

  }
  .post a:visited {
    color: #cba;
    background: none;

  }
  .post a:hover {
    color: #eb6;
    background: none;

  }
  .post a:active {
    color: blue;

  }

  .button {
    background-color: #eb6;
  }
  .button:hover {
    background-color: $flax;
  }
  .popover-content {
    background-color: $flax;
    color: black;
  }
