/*layout*/
body {
  margin: 1em 10%;
  background-image: url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}
.header {
  background-image: url(../images/guitarist.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

// .header {
//   background: none;
//   display: flex;
//   flex-direction: column;
//   @media screen and (min-width: $large) {
//     background-image: url(../images/guitarist.gif);
//     background-repeat: no-repeat;
//     background-position: bottom right;
//   }
// }

.page-id-7 .header {
  background-image: url(../images/lineup.gif);
}
.page-id-9 .header {
  background-image: url(../images/basshead.gif);
}
.page-id-11 header {
  background-image: url(../images/bassist.gif);
}
.page-id-13 header {
  background-image: url(../images/drummer.gif);
}
#content img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

footer p {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav {
  background-image: url(../images/navbar.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  // padding-left: 20%;
}
nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}
nav li {
  // display: inline;
  list-style: none;
}
nav li a {
  display: block;
  // float: left;
  padding: .5em 2em;
  border-right: .1em solid;
  text-align: center;
}
#content {
  border-width: 0;
  border-style: none;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

//#imagegallery li {
  //display: inline;
//}
#imagegallery {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $medium) {
     flex-direction: row;
     justify-content: flex-start;
  }
}

#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}
img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}
img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}
dl {
  overflow: hidden;
}
dt {
  float: left;
}
dd {
  float: left;
}
label {
  display: block;
}
fieldset {
  border: 0;
}
td {
  padding: .5em 3em;
}
